SIGNER_PRIVATE_KEY=
BALANCE_ALERT_CONDITION_IN_AVAX = 0.01
UPLOAD_METHOD=AWS
S3_BUCKET=
GCP_PROJECT_ID=
GCP_KEY_FILE_PATH=
GCP_BUCKET=
PUBLIC_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
SLACK_CHANNEL=SLACK_CHANNEL
SLACK_API_URL=https://slack.com/api/chat.postMessage
SLACK_AUTH=xoxb-SLACK_AUTH_TOKEN
SCOPE_URL=https://testnet.snowtrace.io
CHAIN_ID=43113
AVALANCHE_HOST=api.avax-test.network

# The SEND_TX_INTERVAL specifies the interval in milliseconds for sending transactions.
# Please set this value to the desired interval in milliseconds. For example, to send
# transactions every 1 hour, you can set SEND_TX_INTERVAL as 60 * 60 * 1000.
SEND_TX_INTERVAL=
COIN_GECKO_API_KEY=