SENDER_PRIVATE_KEY=
UPLOAD_METHOD=AWS
S3_BUCKET=
GCP_PROJECT_ID=
GCP_KEY_FILE_PATH=
GCP_BUCKET=
SENDER_ACCOUNT_ID=
BALANCE_ALERT_CONDITION_IN_NEAR=0.01
NETWORK_ID=testnet
SLACK_CHANNEL=SLACK_CHANNEL
SLACK_API_URL=https://slack.com/api/chat.postMessage
SLACK_AUTH=xoxb-SLACK_AUTH_TOKEN
SCOPE_URL=https://explorer.testnet.near.org
CHAIN_ID=333333

# The SEND_TX_INTERVAL specifies the interval in milliseconds for sending transactions.
# Please set this value to the desired interval in milliseconds. For example, to send
# transactions every 1 hour, you can set SEND_TX_INTERVAL as 60 * 60 * 1000.
SEND_TX_INTERVAL=