SENDER_PRIVATE_KEY = SENDER_PRIVATE_KEY
SEND_TX_INTERVAL = 10 * 1000
BALANCE_ALERT_CONDITION_IN_NEAR = 0.01
NETWORK_ID = testnet
S3_BUCKET = S3_BUCKET
SLACK_CHANNEL=SLACK_CHANNEL
SLACK_API_URL=https://slack.com/api/chat.postMessage
SLACK_AUTH=xoxb-SLACK_AUTH_TOKEN
SCOPE_URL=https://explorer.testnet.near.org
CHAIN_ID=333333
SENDER_ACCOUNT_ID=SENDER_ACCOUNT_ID